<!doctype html>
<html lang="en">
    <head>
        <title>To Do Lists</title>
    </head>
    <body>
        <header>
            <h1>{{ todolist.name }}</h1>
            <nav>
                <a href="{% url 'todos_list'  %}">Back to list</a>
                <a href="{% url 'todo_delete' todolist.id %}">Delete a List</a>
                <a href="{% url 'todos_update' todolist.id %}">Edit a List</a>
        <header>
        <main>
            {% for y in todolist.items.all %}
                <a href="{% url 'item_update' y.id %}">{{ y.task }}</a>
            {% endfor %}
        </main>
    </body>
</html>