<!doctype html>
<html lang="en">
    <head>
        <title>To Do Lists</title>
    </head>
    <body>
        <header>
            <h1>Edit {{ todoitem.task }}?</h1>
        <header>
        <main>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <button>Edit</button>
                    </div>
                </form> 
            </div>
        </main>
    </body>
</html>